<%# Admin page for editing questions already in the question bank %>
<%# ARGUMENTS: subjectUnitDictionary - a class with key subject name and value array of units %>

<%- include("../../partials/header") -%>
<%- include("../../partials/navigationPrivate") -%>

<h1 class="container mt-5">Doesnt work yet check back later tysm</h1>

<%- include("../../partials/footer") -%>
