<%# Page admins see upon signing in %>

<%- include("../partials/header") -%>
<%- include("../partials/navigationPrivate") -%>

<h1 class="my-5 container text-center">Mutorials Admin Control Center</h1>

<div class="container">
    <%- include ("../partials/flashes") -%>
</div>

<div class="jumbotron container">

    <h3 class="mb-4">Database Control:</h3>
    <a class="btn btn-primary btn-lg btn-block my-2" href="/admin/addQuestion">Add Question</a>
    <a class="btn btn-primary btn-lg btn-block my-2" href="/admin/editQuestion">Edit Question</a>

</div>

<div class="jumbotron container">

    <h3 class="mb-4">Site Control:</h3>
    <a class="btn btn-primary btn-lg btn-block my-2" href="/admin/announcements">Manage Announcements</a>

</div>

<div class="jumbotron container">

    <h3 class="mb-4">Stat Querying/Fetching:</h3>
    <a class="btn btn-primary btn-lg btn-block my-2" href="/admin/contributorStats">Contributor Stats</a>
    <a class="btn btn-primary btn-lg btn-block my-2" href="/admin/analytics">Site Analytics</a>

</div>

<%- include("../partials/footer") -%>
