<%# Page admins see upon signing in %>

<%- include("../partials/header") -%>
<%- include("../partials/navigationPrivate") -%>

<h1 class="my-5 container text-center">Mutorials Admin Control Center</h1>

<div class="container">
    <%- include ("../partials/flashes") -%>
</div>

<div class="jumbotron container">

    <h3 class="mb-4">Database Control:</h3>
    <a class="btn btn-primary btn-lg w-100 my-2" href="/admin/addQuestion">Add Question</a>
    <a class="btn btn-primary btn-lg w-100 my-2" href="/admin/editQuestion">Edit Question</a>
</div>

<div class="jumbotron container">

    <h3 class="mb-4">Site Control:</h3>
    <a class="btn btn-primary btn-lg w-100 my-2" href="/admin/announcements">Manage Announcements</a>

</div>

<div class="jumbotron container">

    <h3 class="mb-4">Stat Querying/Fetching:</h3>
    <a class="btn btn-primary btn-lg w-100 my-2" href="/admin/contributorStats">Contributor Stats</a>
    <a class="btn btn-primary btn-lg w-100 my-2" href="#" data-bs-toggle="modal" data-bs-target="#contributorAddModal">Add Contributor</a>
    <a class="btn btn-primary btn-lg w-100 my-2" href="/admin/analytics">Site Analytics</a>

</div>
<div class="modal fade" id="contributorAddModal" tabindex="-1" aria-labelledby="add-contributor-label" aria-hidden="true">
    <div class="modal-dialog">
        <form id="add-contributor-form" class="modal-content" method="post" action="/admin/addContributor">
            <div class="modal-header">
                <h5 class="modal-title" id="add-contributor-label">Add Contributor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating">
                    <input name="contributorUsername" class="form-control" placeholder="Contributor Username" id="contactTextarea">
                    <label for="contactTextarea">Contributor Username</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" value="Add contributor">
            </div>
        </form>
    </div>
</div>

<%- include("../partials/footer") -%>
