<!-- This is the page that displays after admins successfully add a question to the database -->

<%- include("../partials/header") -%>
<%- include("../partials/navigation") -%>

<h1 class="my-5 container">Success! Your question has been added to the database :)</h1>

<div class="jumbotron container">

    <!-- NEED TO FIX HREF AFTER ADMIN PATH IS SET -->
	<a class="btn btn-primary btn-lg btn-block" id="submitAnother" href="/admin/addquestion">Submit Another Question</a>

</div>

<%- include("../partials/footer") -%>
