<%# This is a footer template %>
<div class="text-sm my-5 px-6">
  <footer class="text-center"><br>
    <hr class="mb-4">
      &copy; The Mu Foundation
      <span x-data x-text="` ${new Date().getFullYear()}`">2023</span>,
      a 501(c)(3) nonprofit. All Rights Reserved.
    <br>
    <a class="hover:opacity-50 transition-opacity" href="/termsOfService#terms-of-service">Terms of Service</a> | 
    <a class="hover:opacity-50 transition-opacity" href="/termsOfService#privacy-policy">Privacy Policy</a> | 
    <a class="hover:opacity-50 transition-opacity" href="mailto:admin@mutorials.org">Contact Us</a>
  </footer>
</div>
