<%# This is a footer template %>
<div class="container my-5">
  <footer class="text-center"><br>
    <hr class="mb-4">&copy; The Mu Foundation <span class="year-label"></span>, a 501(c)(3) nonprofit. All Rights Reserved.<br>
    <a class="hover:opacity-50 transition-opacity" href="/termsOfService#terms-of-service">Terms of Service</a> | 
    <a class="hover:opacity-50 transition-opacity" href="/termsOfService#privacy-policy">Privacy Policy</a> | 
    <a class="hover:opacity-50 transition-opacity" href="/#">Contact Us</a>
  </footer>
</div>

<%# Turn off form autocomplete globally and set the year %>
<script defer>
  $('.year-label').text(new Date().getFullYear());
</script>
