<nav class="flex justify-center w-full p-6">
  <div class="flex w-full max-w-4xl">
    <%# Left group: logo, about %>
    <ul class="flex items-center gap-4 mr-auto">
      <li>
        <a class="flex items-center" href="/">
          <img class="mr-2" src="https://cdn.mutorials.org/images/icons/Icon_Main.svg" width="30">
          <b class="hidden sm:block sm:visible">Mutorials</b>
        </a>
      </li>
      <li><a class="hidden sm:block font-medium hover:opacity-50 transition-opacity" href="/whoWeAre">About</a></li>
    </ul>

    <%# Right group: search, log in, sign up %>
    <ul class="flex items-center ml-auto gap-2">
      <li class="flex items-center mr-2"><a class="hover:opacity-50 transition-opacity" href="/search"><i class="fas fa-search"></i></a></li>
      <li><a class="btn btn-outline rounded-md" href="/signin">Log in</a></li>
      <li><a class="btn btn-primary rounded-md" href="/signup">Sign up</a></li>
    </ul>
  </div>
</nav>
