<nav class="w-full flex p-6">
  <%# Left group: logo, about %>
  <ul class="flex items-center gap-4 mr-auto">
    <li>
      <a class="flex items-center" href="/v2">
        <img class="mr-2" src="https://cdn.mutorials.org/images/icons/Icon_Main.svg" width="30">
        <b>Mutorials</b>
      </a>
    </li>
    <li><a class="font-medium hover:opacity-50 transition-all" href="/whoWeAre">About</a></li>
  </ul>

  <%# Right group: search, log in, sign up %>
  <ul class="flex items-center ml-auto gap-2">
    <li class="mr-2"><a class="hover:opacity-50 transition-all" href="/search"><i class="fas fa-search"></i></a></li>
    <li><a class="btn btn-outline rounded-md" href="/login">Log in</a></li>
    <li><a class="btn btn-primary rounded-md" href="/register">Sign up</a></li>
  </ul>
</nav>
