<!-- THIS IS TEMPLATE CODE FOR THE NAVIGATION BAR -->

<nav class="navbar navbar-expand-lg navbar-expand-md navbar-dark" style="background-color: #007bff;">
    
    <div class="container">

        <a class="navbar-brand" href="/homepage">
            <img src="https://f000.backblazeb2.com/file/mutorials/icons/Icon_White.svg" width="30" height="30"
                class="d-inline-block align-top" alt="">
            Mutorials</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/train">Train</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stats">Stats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/references">References</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/settings">Settings</a>
                </li>
            </ul>

        </div>

    </div>

</nav>