<%# Template code for the navigation bar on private routes %>

<nav class="navbar navbar-expand-lg navbar-expand-md navbar-dark" style="background-color: #37b2db;">

    <div class="container">

        <a class="navbar-brand" href="/homepage">
            <img src="https://f000.backblazeb2.com/file/mutorials/icons/Icon_White.svg" width="32" height="32"
                class="d-inline-block align-top" alt="">
            Mutorials</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item mr-3">
                    <a class="nav-link" href="/train">
                        <img src="https://f000.backblazeb2.com/file/mutorials/icons/Navbar_Train.svg" width="25" height="25"
                            class="d-inline-block align-top" alt="">
                        Train</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="/leaderboard">
                        <img src="https://f000.backblazeb2.com/file/mutorials/icons/Navbar_Leaderboard.svg" width="25" height="25"
                            class="d-inline-block align-top" alt="">
                        Leaderboard</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="/stats">
                        <img src="https://f000.backblazeb2.com/file/mutorials/icons/Navbar_Statistics.svg" width="25" height="25"
                            class="d-inline-block align-top" alt="">
                        Stats</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="/references">
                        <img src="https://f000.backblazeb2.com/file/mutorials/icons/Navbar_References.svg" width="25" height="25"
                            class="d-inline-block align-top" alt="">
                        References</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="/settings">
                        <img src="https://f000.backblazeb2.com/file/mutorials/icons/Navbar_Settings.svg" width="25" height="25"
                            class="d-inline-block align-top" alt="">
                        Settings</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item mr-3 float-right">
                    <a class="nav-link" data-toggle="modal" data-target="#signoutModal">
                        <img src="https://f000.backblazeb2.com/file/mutorials/icons/Navbar_Logout.svg" width="25" height="25"
                            class="d-inline-block align-top" alt="">
                        Log Out</a>
                </li>
            </ul>

        </div>

    </div>

</nav>

<%# Logout confirm modal %>
<div class="modal fade" id="signoutModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure you want to log out?</h5>
            </div>
			<div class="modal-body">
				<p>Your data has been saved :)</p>
            </div>
            <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <a href="/logout"><button type="button" class="btn btn-primary" id="signoutConfirm">Yes</button></a>
            </div>
        </div>
    </div>
</div>
