<!-- THIS IS TEMPLATE CODE FOR THE NAVIGATION BAR -->

<nav class="navbar navbar-dark" style="background-color: #3333ff;">
	<a class="navbar-brand" href="/homepage">Mutorials</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbar">
		<div class="navbar-nav">
			<a class="nav-item nav-link" href="/train">Train</a>
			<a class="nav-item nav-link" href="/settings">Settings</a>
			<a class="nav-item nav-link" href="/admin/addquestion">Question Add</a>
		</div>
	</div>
</nav>