<%# Root training page %>

<%- include("../../partials/header") -%>
<%- include("../partials/usaboNav") -%>

<div class="jumbotron container mt-5">

        <div class="col-12 col-lg-4">

            <div class="card mx-auto my-auto h-100 align-items-center" style="width: 18rem;">

                <img class="card-img-top" src="../icon.png" alt="Card image cap" <% if (locals.darkMode) { %>style="background-color: #37393f"<% } %>>

                <div class="card-body">
                    <div class="card-block text-center">
                        <h5 class="card-title">Train for USABO!</h5>
                        <p class="card-text">TRAIN FOR USABO</p>
                        <button type="button" class="btn btn-primary" onclick="window.location.href='/train/usabo/chooseCategories'" id="train">Train!</button>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

<%- include("../../partials/footer") -%>
