<!-- This is the page routed to upon signin; root page -->

<%- include("partials/header") -%>
<%- include("partials/navigation") -%>

<h1 class="my-5 container">Welcome to Mutorials!</h1>

<div class="jumbotron container">

	<h3 class="mb-4">Insert content</h3>
	<p>We're busy coding other stuff; fancy homepage stuffs come after we're done with functionality</p>
	
</div>

<%- include("partials/footer") -%>