@layer base {
  h1 {
    font-size: 3em;
    font-weight: bold;
    letter-spacing: -0.02em;
    line-height: 1;
  }
  h2 {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: -0.02em;
    line-height: 1;
  }
  h3 {
    font-size: 1.5em;
    line-height: 1.2;
  }

  p a,
  label a {
    @apply text-blue-500
      opacity-100 hover:opacity-70
      transition-opacity;
  }

  input[type='checkbox'] {
    @apply appearance-none
      min-w-[1rem] h-4
      text-blue-500
      border-2 border-neutral-200
      rounded
      outline-blue-500;
  }
  input[type='text'],
  input[type='password'],
  input[type='email'],
  input[type='number'] {
    @apply block
      w-full
      mt-1 mb-3
      px-2 py-1
      border-2 border-neutral-200
      rounded
      outline-blue-500;
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
