.btn {
  @apply px-4 py-2
    rounded
    font-medium
    transition-all
    whitespace-nowrap
    hover:shadow-md;
}

.btn-primary {
  @apply bg-blue-500 text-white
    hover:bg-blue-600;
}

.btn-outline {
  @apply bg-white
    border-2 border-neutral-200
    hover:bg-neutral-50;
}
