<%# Page for users to enter email confirmation code to confirm email %>
<%# ARGUMENTS: email - the email address of the user %>

<%- include("../partials/header") -%>

<div class="jumbotron container my-5">
    <%- include ("../partials/flashes") -%>
	<h3>Please enter the confirmation code sent to <%= email %></h3>

	<form action="/email_check" method="post">
		<input class="form-control form-control-lg mb-3 mt-4" type="text" placeholder="Enter code here" name="entered_code" id="entered_code" style="text">
		<input type="submit" class="btn btn-primary" id="confirm" value="Confirm">
	</form>
    <p class="mt-4"><a href="/"><font color="blue">Skip for now and confirm later</font></a></p>

</div>

<%- include("../partials/footer") -%>
