<!-- This is the page routed to upon signin; root page -->

<%- include("../partials/header") -%>
<%- include("../partials/navigation") -%>

<h1 class="my-5 container">Welcome to Mutorials!</h1>

<div class="jumbotron container">

	<h3 class="mb-4">[This page will be empty for now]</h3>
	<p>[Cool stuff coming later]</p>
	
</div>

<%- include("../partials/footer") -%>