<!-- This is the page routed to upon signin; root page -->

<%- include("../partials/header") -%>
<%- include("../partials/navigation") -%>

<h1 class="my-5 container">Welcome to Mutorials!</h1>

<div class="jumbotron container">
    <%- include("../partials/flashes") -%>
	<h3 class="mb-4">Latest Site Updates</h3>
	<ul class="mb-4">
		<li>7/1 - questions going in</li>
		<li>Update 2</li>
		<li>Update 3</li>
	</ul>

	<p>Cool stuff coming soon!</p>
	
</div>

<%- include("../partials/footer") -%>
