<!-- reference subpage -->

<%- include("../partials/header") -%>
<%- include("../partials/navigation") -%>

<h1 class="my-5 container">About Mutorials</strong></h1>

<div class="container jumbotron mt-5">

    <h3>What is Mutorials?</h3>
    <p>Mutorials is a science trainer backed by a passionate team of developers, writers, and other forms of contributors.</p>

    <h3 class="mt-3">Do we have anything else to say?</h3>
    <p>Yes, but we're busy right now. We'll update this page later.</p>

</div>

<div class="container">
    <a class="mb-5 btn btn-secondary" href="/references">Return to references page</a>
</div>

<%- include("../partials/footer") -%>