<!-- reference subpage -->

<!-- ARGUMENTS:
    tags - the taglist from backend -->

<%- include("../partials/header") -%>
<%- include("../partials/navigation") -%>

<h1 class="my-5 container">The Grand Taglist</strong></h1>

<div class="container jumbotron mt-5">

    <h3>What are tags?</h3>

</div>

<div class="container">
    <a class="mb-5 btn btn-secondary" href="/references">Return to references page</a>
</div>

<%- include("../partials/footer") -%>