<%# Search page for users %>
<%# ARGUMENTS: results - the results of the search %>

<%- include("../partials/header") -%>
<%- include("../partials/navigationPrivate") -%>

<h1 class="my-5 container display-2 text-center">Mutorials Search</h1>

<div class="jumbotron container">

    <div class="container">

        <div class="row">
            <div class="col-md-10">
                <input class="form-control form-control-lg my-2" type="text" placeholder="Search for questions, users, etc." id="query" >
            </div>
            <div class="col-md-2">
                <input class="btn btn-primary btn-lg btn-block my-2" value="Search" type="button" id="submit">
            </div>
        </div>
        
    </div>
    

</div>

<%- include("../partials/footer") -%>
