<!-- This is the page for displaying stats -->

<!-- ARGUMENTS:
    none yet -->

<%- include("../partials/header") -%>
<%- include("../partials/navigation") -%>

<!-- IN DEVELOPMENT, ALL CODE RN IS DYSFUNCTIONAL AND ONLY FOR TESTING CHARTS -->
<script type="text/javascript">
    window.onload = function () {

        //Better to construct options first and then pass it as a parameter
        var options = { 
            data: [
                {
                    type: "splineArea", //change it to column, spline, line, pie, etc
                    dataPoints: [
                        { x: 10, y: 10 },
                        { x: 20, y: 14 },
                        { x: 30, y: 18 },
                        { x: 40, y: 22 },
                        { x: 50, y: 18 },
                        { x: 60, y: 28 }
                    ]
                }
            ]
        };
        $("#splineContainer").CanvasJSChart(options);
    
        $("#addDataPoint").click(function () {
            var chart = $("#chartContainer").CanvasJSChart();
            var length = chart.options.data[0].dataPoints.length;
            chart.options.data[0].dataPoints.push({ x: (length + 1) * 10, y: Math.round((30 - Math.random() * 10)) });
            chart.render();
        });

        var options2 = {
            animationEnabled: true,
            title: {
                text: "Problem Pass/Fail Rates"
            },
            data: [{
                type: "doughnut",
                innerRadius: "40%",
                indexLabel: "{label} Rate: #percent%",
                dataPoints: [
                    { label: "Pass", y: 187, color: "Green" },
                    { label: "Fail", y: 213, color: "Red" }
                ]
            }]
        };
        $("#doughnutContainer").CanvasJSChart(options2);
    }
</script>

<div id="splineContainer" style="width:100%; height:280px;"></div>
<button id="addDataPoint" style="position:absolute;right:0px;margin-right:10px;">Add Data Point</button>

<div id="doughnutContainer" style="height: 370px; width: 100%;" class="my-5"></div>


<%- include("../partials/footer") -%>