<!-- This is the page for displaying stats -->

<!-- ARGUMENTS:
    none yet -->

<%- include("../partials/header") -%>
<%- include("../partials/navigation") -%>

<!-- IN DEVELOPMENT, ALL CODE RN IS DYSFUNCTIONAL AND ONLY FOR TESTING CHARTS -->



<div class="container jumbotron my-5">
    <div class="canvas-container-center">
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>
    
</div>


<script>

    var ctx = document.getElementById("myChart");

    var style = ctx.style;
    style.marginLeft = "auto";
    style.marginRight = "auto";

    var myChart = new Chart(ctx, {
        type: "pie",
        data: {
            labels: ["Pass", "Fail"],
            datasets: [{
                label: "Problem Pass/Fail Rates",
                data: [20, 10],
                backgroundColor: [
                    "rgba(0, 255, 0, 1)",
                    "rgba(255, 0, 0, 1)"
                ],
                borderColor: [
                    "rgba(255, 255, 255, 1)",
                    "rgba(255, 255, 255, 1)"
                ],
                borderWidth: 2
            }]
        },
        options: {
            cutoutPercentage: 30,
            responsive: false
        }
    });


</script>

<%- include("../partials/footer") -%>