<!-- This is the page which appears when the "train" button at top is clicked -->

<%- include("../partials/header") -%>
<%- include("../partials/navigation") -%>

<div class="jumbotron container mt-5">
	<head>
	</head>
	<body>
		<h1>Welcome to the Mutorials trainer!</h1>
		<p>Paragraph and info that we can add later (stats, analytics, etc.)</p>
		
		<button type="button" class="btn btn-primary btn-block" onclick="window.location.href='/train/choose_subject'" id="train">Start Training!</button>

		<p>More info that we can add later :D</p>
		
	</body>
</div>

<%- include("../partials/footer") -%>