<!-- This is the page where you set your rating when starting a new subject -->

<!-- ARGUMENTS:
    subject - a string with the name of the subject you want to train in -->

<%- include("../partials/header") -%>
<%- include("../partials/navigation") -%>

<div class="jumbotron container mt-5">
    
    <h3>What is your estimated proficiency level in <%= subject %>?</h3>
    
    <button type="button" class="btn btn-primary btn-lg btn-block" id="beginner">Beginner</button>
    <button type="button" class="btn btn-primary btn-lg btn-block" id="intermediate">Intermediate</button>
    <button type="button" class="btn btn-primary btn-lg btn-block" id="advanced">Advanced</button>
	
	<h3 class="mt-4">What do these levels mean?</h3>
	<h6>Beginner:</h6>
	<p>Equivalent to starters, or those who take courses on a middle school level</p>
	<h6>Intermediate:</h6>
	<p>Equivalent to those who take Honors program courses or in general, courses on a high school level</p>
	<h6>Advanced:</h6>
	<p>Equivalent to students enrolled in an AP level course or above</p>
</div>
    
<%- include("../partials/footer") -%>