<!-- This is the page which appears when the "train" button at top is clicked -->

<%- include("../partials/header") -%>
<%- include("../partials/navigation") -%>

<!--<div class="jumbotron container mt-5">-->
	<head>
		<link rel="stylesheet" type="text/css" href="design/visuals.css">
	</head>
	<body>
	<!--
	
		<h1>Welcome to the Mutorials trainer!</h1>
		<p>Paragraph and info that we can add later (stats, analytics, etc.)</p>
		
		<button type="button" class="btn btn-lg btn-primary btn-block" onclick="window.location.href='/train/choose_subject'" id="train">Start Training!</button>

		<p class="my-2">More info that we can add later :D</p>
		
		<div class="row">
		<div class="col-sm-6">
			<div class="card">
			<div class="card-body">
				<h5 class="card-title">Special title treatment</h5>
				<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="card">
			<div class="card-body">
				<h5 class="card-title">Special title treatment</h5>
				<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
			</div>
		</div>
		</div>
	
-->		<br>
		<br>
		<br>
		<div class="card mx-auto my-auto h-100 align-items-center" style="width: 18rem;">
			
				<img class="card-img-top" src="https://f000.backblazeb2.com/file/mutorials/icons/Icon_Main.svg" alt="Card image cap">
					
				<div class="card-body">
					<div class="card-block text-center">
						<h5 class="card-title">Training</h5>
						<p class="card-text">Click on this button to begin training in: Physics, Biology, or Chemistry</p>
						<button type="button" class="btn btn-primary" onclick="window.location.href='/train/choose_subject'" id="train">Start Training!</button>
					</div>
				</div>
				
		</div>
		
	</body>
<!--</div>-->

<%- include("../partials/footer") -%>