<%# Join class page %>
<%# ARGUMENTS: students %>

<%- include("../../partials/header") -%>
<%- include("../../partials/navigationPrivate") -%>

<div class="container mt-5 mb-1">
    <div class="mb-2">
        <%- include("../../partials/flashes") -%>
    </div>
    <h1 class="text-center display-3">Manage classes</h1>
</div>

<div class="jumbotron container">
    <h1>Details coming soon!</h1>
</div>

<%- include("../../partials/footer") -%>

