<%# Root training page %>

<%- include("../../partials/header") -%>
<%- include("../../partials/navigationPrivate") -%>

<div class="jumbotron container mt-5">
	<head>
		<link rel="stylesheet" type="text/css" href="design/visuals.css">
	</head>
	<body>

		<div class="card mx-auto my-auto h-100 align-items-center" style="width: 18rem;">

				<img class="card-img-top" src="https://f000.backblazeb2.com/file/mutorials/icons/Icon_Main.svg" alt="Card image cap">

				<div class="card-body">
					<div class="card-block text-center">
						<h5 class="card-title">Training</h5>
						<p class="card-text">Click on this button to begin training in: Physics, Biology, or Chemistry</p>
						<button type="button" class="btn btn-primary" onclick="window.location.href='/train/chooseSubject'" id="train">Start Training!</button>
					</div>
				</div>

		</div>

	</body>
</div>

<%- include("../../partials/footer") -%>
