<%# Page emailed to users (supposedly) %>
<%# ARGUMENTS: code - confirmation code needed %>

<%- include("../partials/header") -%>

<div class="jumbotron container my-5">

	<h1>Thanks for signing up to Mutorials!</h1>
	<h3>Please use the following code to confirm your email address: <font color="red"><%= code %></font></h3>

    <%# NOTE: change request %>
	<p class="mt-5">If you did not sign up to Mutorials with this email, please click <a href="www.mutorials.org"><font color="blue">THIS LINK</font></a> to disconnect your email</p>

</div>

<%- include("../partials/footer") -%>
