<%# Page for errors and invalid routes %>

<%- include("../partials/header") -%>

<div class="jumbotron container my-5">

    <h3>Oops, somebody messed up their equations...</h3>
    <p>We could not find the page you were looking for. Did you write $E=mc^3$ instead of $E=mc^2$ ?</p>

    <button type="button" class="btn btn-lg btn-primary w-100" onclick="window.location.href='/homepage'" id="home">Click me to go back</button>

</div>

<%- include("../partials/footer") -%>