<!-- This is the page for errors and invalid routes -->

<%- include("../partials/header") -%>

<div class="jumbotron container my-5">

    <h3>Uh oh...</h3>
    <h4>We ran into a problem.</h4>
    <p>Possible issues: </p>
    <ul>
        <li>Did you try clicking the back button when using the trainer?</li>
        <li>Did you get here through a bookmark? Try changing that.</li>
        <li>We might've messed up. Fear not, this has been logged and we're looking into the issue.</li>
    </ul>

</div>

<%- include("../partials/footer") -%>
