<!-- This is code for the unauthed page (main page without logging in) -->

<%- include("../partials/header") -%>

<!-- contains login and signup buttons -->
<div class="container">
    <a type="button" class="btn btn-primary float-right mr-2 mt-2" href="/signin">Log In</a>
    <a type="button" class="btn btn-secondary float-right mr-2 mt-2" href="/signup">Sign Up</a>
</div>

<!-- Contains jumbotron box and stuff inside, below login and signup buttons -->
<div class="container mt-3">
    <div class="jumbotron">
        <h1>Welcome to Mutorials</h1>
        <p>Info info info (add later)</p>
        <p>Please log in :0</p>
    </div>
</div>

<%- include("../partials/footer") -%>