<%- contentFor('preMain') %>
<%- include('../partials/navigationV2') %>

<%- contentFor('main') %>
<div class="max-w-4xl">
  <h1>Hello</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam est diam, egestas dapibus luctus ut, convallis mattis mi. Maecenas non tortor suscipit, posuere elit sed, iaculis eros. Fusce ut ullamcorper tellus. In sit amet felis ac nibh egestas iaculis a et ipsum. In tincidunt tempus ante vel pretium. Vestibulum id mauris elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur erat velit, efficitur eu nibh vehicula, scelerisque faucibus nibh.</p>
</div>
