<!-- This is code for the login page -->

<!doctype html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Mutorials</title>

    <!-- jquery and bootstrap imports-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <!-- send to backend -->
    <script>
        // SIGNUP
        $(document).ready(function () {
            var username, user, pass;
            $("#signupSubmit").click(function () {
                username = $("#signupEmail").val();
                user = $("#signupUser").val();
                pass = $("#signupPassword").val();
                $.post("/register", { username: username, password: pass }, function (data) {
                    location.reload(true);
                });
            });
        });
        // LOGIN
        $(document).ready(function () {
            var username, pass;
            $("#loginSubmit").click(function () {
                username = $("#loginEmail").val();
                pass = $("#loginPassword").val();
                $.post("/login", { username: username, password: pass }, function (data) {
                    location.reload(true);
                });
            });
        });
    </script>
</head>

<body>

    <!-- contains login and signup buttons -->
    <div class="container">
        <button type="button" class="btn btn-primary float-right mr-2 mt-2" data-toggle="modal"
            data-target="#loginModal">Log In</button>
        <button type="button" class="btn btn-secondary float-right mr-2 mt-2" data-toggle="modal"
            data-target="#signupModal">Sign Up</button>
    </div>

    <!-- MODAL CODE FOR LOGIN-->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Log in to Mutorials</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/login">
                        <div class="form-group">
                            <input type="text" class="form-control" id="loginEmail" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="loginPassword" placeholder="Password">
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="stayLoggedIn">
                            <label class="form-check-label">Keep me logged in</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="loginSubmit">Log In</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL CODE FOR SIGNUP -->
    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Sign up to Mutorials!</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/register">
                        <div class="form-group">
                            <input type="text" class="form-control" id="signupEmail" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="signupUser" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="signupPassword" placeholder="Password">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="signupSubmit">Sign Up</button>
                </div>
            </div>
        </div>
    </div>





    <!-- Contains jumbotron box and stuff inside, below login and signup buttons -->
    <div class="container mt-3">
        <div class="jumbotron">
            <h1>Welcome to Mutorials</h1>
            <p>Info info info (add later)</p>
            <p>Please log in :0</p>
        </div>
    </div>

</body>

</html>