<!-- this is the public latex compiler -->

<%- include("../partials/header") -%>

<div class="jumbotron container my-5">
	
	<div class="form-group">
		<h3>Mutorials LaTeX Compiler</h3>
		<textarea class="form-control" id="latexcompiler" rows="3" placeholder="Enter LaTeX here and then click Render"></textarea>
    </div>
	
	<p id="rendersandbox">[Rendered LaTeX goes here - ex. did you know $e^{i \pi} + 1 = 0$ ? Also, remember to surround your LaTeX with dollar signs ($)!]</p>
	
	<button type="button" class="btn btn-primary" id="render" onclick="document.getElementById('rendersandbox').innerHTML = document.getElementById('latexcompiler').value; MathJax.typeset();">Render</button>

</div>

<%- include("../partials/footer") -%>