<%# Signup/Register page %>

<%- include("../partials/header") -%>
<%- include("../partials/navigationPublic") -%>

<%# Javscript to flash %>
<script>

    $(document).ready(function () {
        $("#password-req").hide();
        $("#signupPassword").focus(function() {
            $("#password-req").show(100);
        });
        $("#signupPassword").blur(function() {
            window.setTimeout(function() {
                $("#password-req").hide(100);
            }, 1000);
        });

        $("#username-characters").hide();
        $("#ign").focus(function() {
            $("#username-characters").show(100);
        });
        $("#ign").blur(function() {
            window.setTimeout(function() {
                $("#username-characters").hide(100);
            }, 1000);
        });

        $("submitButton").click(function() {
            gtag_report_conversion();
        });

    });

</script>

<h1 class="my-5 container">Sign up for Mutorials!</h1>

<div class="jumbotron container">
    <%- include("../partials/flashes") -%>

    <p class="container mb-3">Already have an account? <a href="/signin">Sign in</a></p>

    <div id="g_id_onload"
        data-client_id="427524045188-3dvvchf9eibk948gbfa76o7brr63rn0m.apps.googleusercontent.com"
        data-context="signin"
        data-ux_mode="popup"
        data-callback="handleCredentialResponse"
        data-auto_select="true">
    </div>

    <div class="g_id_signin"
        data-type="standard"
        data-shape="rectangular"
        data-theme="outline"
        data-text="continue_with"
        data-size="large"
        data-logo_alignment="left">
    </div>

    <br>

    <form action="/register" method="post">

        <div class="form-group">
            <input type="text" class="form-control" id="ign" placeholder="Username" name="ign">
            <p class="container mb-3 mt-1" id="username-characters">You may use only <strong>letters</strong>, <strong>numbers</strong>, underscore (_), hyphen (-), period (.), and tilde (~) in your username.</p>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" id="signupEmail" placeholder="Email Address" name="username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="signupPassword" placeholder="Password" name="password">
            <p class="container mb-3 mt-1" id="password-req">A valid password must have a minimum of <strong>7 characters</strong> which includes at least <strong>1 letter</strong> and at least <strong>1 number</strong></p>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="signupConfirmPassword" placeholder="Confirm Password" name="confirmPassword">
        </div>
        <div class="form-group">
            <input type="number" class="form-control" id="yob" name="yob" placeholder="Year of Birth">
        </div>
        <div class="form-group">
            <input type="number" class="form-control" id="externalId" name="externalId" hidden="true">
        </div>
        <div class="form-group">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="agreeTOS" name="agreeTOS" value="agreeAge">
                <label class="form-check-label" for="agreeTOS">I have read and agree to the <a href='/termsOfService#terms-of-service'>Terms of Service</a> and <a href='/termsOfService#privacy-policy'>Privacy Policy</a>.</label><br>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="agreeAge" name="agreeAge" value="agreeAge">
                <label class="form-check-label" for="agreeAge">I am at least 13 years old, or I have permission from my parent, guardian, teacher, or school to use Mutorials.</label><br>
            </div>
        </div>

        <div class="mt-4 ms-1">
            <a class="btn btn-secondary" id="cancel" href="/">Cancel</a>
            <input class="btn btn-primary" type="submit" id="submitButton" value="Sign Up">
        </div>
    </form>
</div>

<div id="g_id_onload"
     data-client_id="427524045188-3dvvchf9eibk948gbfa76o7brr63rn0m.apps.googleusercontent.com"
     data-callback="handleCredentialResponse">
</div>

<script>
    function decodeJwtResponse (token) {
        var base64Url = token.split('.')[1];
        var base64 = base64Url.replace('-', '+').replace('_', '/');
        return JSON.parse(window.atob(base64));
    }

    function handleCredentialResponse(response) {
        const responsePayload = decodeJwtResponse(response.credential);
        document.getElementById("signupEmail").value = responsePayload.email;
        document.getElementById("externalId").value = responsePayload.sub;
        document.getElementById("signupPassword").value = null;
        document.getElementById("signupConfirmPassword").value = null;
        document.getElementById("signupPassword").hidden = true;
        document.getElementById("signupConfirmPassword").hidden = true;
        document.getElementById("ign").value = responsePayload.name.replace(" ", "").toLowerCase();
    }
</script>


<%- include("../partials/footer") -%>
