<%# Signup/Register page %>

<%- include("../partials/header") -%>
<%- include("../partials/navigationPublic") -%>

<%# Javscript to flash %>
<script>

    $(document).ready(function () {

        $("#password-req").hide();
        $("#signupPassword").focus(function() {
            $("#password-req").show(100);
        });
        $("#signupPassword").blur(function() {
            window.setTimeout(function() {
                $("#password-req").hide(100);
            }, 1000);
        });
    });

</script>

<h1 class="my-5 container">Sign up to Mutorials!</h1>

<div class="jumbotron container">
    <%- include("../partials/flashes") -%>

    <form action="/register" method="post">

        <div class="form-group">
            <input type="ign" class="form-control" id="ign" placeholder="Username" name="ign">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="signupEmail" placeholder="Email Address" name="username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="signupPassword" placeholder="Password" name="password">
            <p class="container mb-4 mt-2" id="password-req">A valid password must have a minimum of <strong>7 characters</strong> which includes at least <strong>1 letter</strong> and at least <strong>1 number</strong></p>
        </div>
        <div class="form-group>
            <input type="number" class="form-control" id="age" name="age">
        </div>
        <div class="form-group">
            <input type="checkbox" class="form-control" id="agreeTOS" name="agreeTOS" value="I have read and agree to the <a href='/termsOfService#terms-of-service'>Terms of Service</a> and <a href='/termsOfService#privacy-policy'>Privacy Policy</a>.">
        </div>
        <div class="form-group">
            <input type="checkbox" class="form-control" id="agreeAge" value="I am at least 13 years old, or I have permission from my parent, guardian, teacher, or school to use Mutorials.">
        </div>
        <div class="mt-4 ml-1">
            <a class="btn btn-secondary" id="cancel" href="/">Cancel</a>
            <input class="btn btn-primary" type="submit" value="Sign Up">
        </div>
    </form>
</div>


<%- include("../partials/footer") -%>
