<%# Code for terms of service page %>

<%- include("../partials/header") -%>
<%- include("../partials/navigationPublic") -%>

<div class="container mt-5" id="terms-of-service">

    <h1>Mutorials Terms of Service</h1>
    
    <p>Welcome, and thank you for your interest in The Mu Foundation, a 501(c)(3) organization ("the Foundation," "we," "us", or "our"), which operates the web site located at http://mutorials.org (“Mutorials” or the "Website"), including, but not limited to, the Website and related applications, and any other products and services that the Foundation may provide now or in the future (collectively, the "Services"). The following Terms of Service are a legal contract between you ("you", "your", or the “User”) and The Mu Foundation regarding your use of the Services.</p>

    <p>PLEASE READ THE FOLLOWING TERMS OF SERVICE CAREFULLY. BY ACCESSING, BROWSING, OR REGISTERING FOR THE WEBSITE, YOU ACKNOWLEDGE THAT YOU HAVE READ, UNDERSTOOD, AND AGREE TO BE BOUND BY THE FOLLOWING TERMS AND CONDITIONS, INCLUDING THE MUTORIALS PRIVACY POLICY AND ANY ADDITIONAL GUIDELINES AS DEFINED BELOW (COLLECTIVELY, THE "TERMS").</p>

    <p>IF YOU ARE A PARENT OR GUARDIAN AND YOU PROVIDE CONSENT FOR YOUR CHILD TO REGISTER WITH THE WEBSITE, YOU AGREE TO BE BOUND BY THESE TERMS OF SERVICE WITH RESPECT TO SUCH CHILD'S USE OF THE WEBSITE.</p>

    <ol>
        <li>Eligibility; Accounts. THE WEBSITE IS NOT AVAILABLE TO (A) ANY USERS PREVIOUSLY REMOVED FROM THE WEBSITE BY THE FOUNDATION OR (B) ANY PERSONS UNDER THE AGE OF 13 WHOSE REGISTRATION AND USE OF THE SERVICES HAS NOT BEEN APPROVED BY A LEGAL PARENT OR GUARDIAN.
            <ol>
                <li>By using or registering an account for the Services, you represent that (i) you are a US resident at least 13 years of age, or (ii) you are not a US resident, and are of legal age of consent to open an account under the laws of your country of residence, or (iii) your use of the Services has been approved by your parent or legal guardian, or by your school or teacher for school use. You also represent that you have not been previously removed from the Services by us, and that your registration and use of the Services is in compliance with any and all applicable laws.</li>
                <li>Account. In order to use certain features of the Services, you must register for an account. You will be asked to provide a password in connection with your account. You are solely responsible for maintaining the confidentiality of your account and password, and you agree to accept responsibility for all activities that occur under your account or password. You agree that the information you provide to us, whether at registration or at any other time, will be true, accurate, current, and complete. You also agree that you will ensure that this information is kept accurate and up-to-date at all times. If you have reason to believe that your account is no longer secure (e.g., in the event of a loss, theft, or unauthorized disclosure or use of your account ID or password), then you agree to immediately notify us at mutorials@mutorials.com. You may be liable for the losses incurred by the Foundation or others due to any unauthorized use of your Services account.</li>
                <li>Child User. If you are under the age of 13 (a "Child User"), you may not create or register an account for the Services without consent and approval from your legal parent or guardian. If you are under the age of 18, you represent that your parent or legal guardian has reviewed and agreed to the Terms on your behalf. A Child User will only be permitted to use the Services for so long as we reasonably believe that such access has been consented to by the Child User's parent or guardian. We may restrict access to certain features of our Services to protect the Child User’s privacy.</li>
                <li>Discrimination. We, the Mu Foundation, do not discriminate between users or volunteers based on age, race, ethnicity, religion, political or other opinions, national origin, property, birth, social and other statuses, sexual orientation, gender, language, or other metrics for users or volunteers and board members. Our resources are free to use for everybody and we do not ask for any information other than age for privacy policy compliance.</li>
            </ol>
        </li>
        <li>Privacy Policy. Your privacy is important to us. Please read the Mutorials Privacy Policy, which is hereby incorporated into these Terms (and which are part of our contract with you), carefully for information relating to our collection, use, and disclosure of your personal information. Among other things, our Privacy Policy explains how we treat your personal information and protect your privacy when you use our Services, and explains the procedures by which Users may view, update, correct, or delete their account and personal information.</li>
        <li>Modification of the Terms. Upon opening an account, you accept the Terms in the form posted on our website. We reserve the right, at our discretion, to change, modify, add, or remove portions of the Terms at any time. Please check the Terms and any Guidelines periodically for changes that are made after you open your account. Your continued use of the Services after the posting of changes constitutes your binding acceptance of such changes. All changes to the Terms will be effective immediately. If you do not agree to the modified Terms, you must discontinue your use of the Services. Disputes arising under these Terms will be resolved in accordance with the version of the Terms in place at the time the dispute arose.</li>
        <li>User Content. By posting content on the Website, you agree to transfer all of your rights and copyright to that content to The Mu Foundation.</li>
        <li>Copyright. All content on the Website is copyrighted by The Mu Foundation, except where otherwise noted. We reserve all rights to content copyrighted by us. Where noted, copyright is held by an external party, and we have licensed that content from said party.</li>
        <li>5. Prohibited Conduct. ANY USER THAT USES ANY FEATURE OF THE WEBSITE FOR HARRASSMENT, DISCRIMINATION, SPAM, OR ANY OTHER ILLEGAL ACTIVITIES WILL BE SUBJECT TO PROMPT TERMINATION OF THEIR ACCOUNT.</li>
        <li>Termination. We reserve the right to terminate your account at any time. You also have the right to terminate your account at any time. As part of any termination, all of your data will be deleted from our database.</li>
    </ol>
</div>

<div class="container my-5" id="privacy-policy">
    <h1>Mutorials Privacy Policy</h1>
    <p>The Mu Foundation ("we", "us") is dedicated to preserving our users' ("your") privacy and helping you learn. This is how we protect your privacy.</p>
    <ol>
        <li>We do not sell your personal information to third parties.
            <ol>
                <li>We use a service provider to send you emails. They do not sell your data.</li>
                <li>We will share your information with third parties or the government if required by law.</li>
            </ol>
        </li>
        <li>We will give you access to and control over the information you give us.
            <ol>
                <li>You can access and change your information by viewing your profile. You can also delete any information, and you can delete your account on the same page.</li>
                <li>Other than providing us with your email, you are not required to provide us with any information. You may also turn off profile sharing to prevent others from seeing your username and statistics on the site.</li>
                <li>We suggest not using a username that reveals any personal information about you.</li>
            </ol>
        </li>
        <li>We take the protection of your information and data very seriously.
            <ol>
                <li>We use modern security practices to secure all the data on our site. However, no security system is perfect. Any and all data you provide to us is at your own risk. In the case of a breach, we will investigate the situation and notify you of the security incident.</li>
                <li>To help ensure the security of your account, please use a strong and unique password for your account that is not used elsewhere to ensure protection in case of a data breach.</li>
            </ol>
        </li>
        <li>We do not display advertising on our website, nor do we use any third-party analytics systems, except that of Google Analytics.</li>
        <li>We follow extra precautions for our users who are under 13. This includes restricting child accounts to features that do not let them disclose personal information.</li>
    </ol>
    <p>We reserve the right to change this Privacy Policy without notice. However, we will add a notification to the site when this Privacy Policy changes.</p>
</div>

<%- include("../partials/footer") -%>