<%- include("../partials/header") -%>
<%- include("../partials/homenav") -%>

<h1 class="my-5 container">About Mutorials</strong></h1>

<div class="container jumbotron mt-5">

    <h3>What is Mutorials?</h3>
    <p>Mutorials is a science trainer backed by a passionate team of developers, writers, and contributors from all over the world. 
        As an established 501c3 nonprofit, we aim to spread science skills to all communities and demographics. You can reach us at mutorials@mutorials.org</p>

    <h3 class="mt-3">Meet Our Team!</h3>
    <p>
        <!--
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="https://f000.backblazeb2.com/file/mutorials/teams/erik.svg" alt="Erik Ma" width="500" height="500">
                </div>
                <div class="col">
                    <img src="https://f000.backblazeb2.com/file/mutorials/teams/lucas.svg" alt="Lucas Wu" width="500" height="500">
                </div>
                <div class="col">
                    <img src="https://f000.backblazeb2.com/file/mutorials/teams/ethan.svg" alt="Ethan Shen" width="500" height="500">
                </div>
            </div>
        </div>
        -->
    </p>

</div>

<div class="container">
    <a class="mb-5 btn btn-secondary" href="/">Return to Homepage</a>
</div>

<%- include("../partials/footer") -%>