<%- include("../partials/header") -%>
<%- include("../partials/homenav") -%>
<head>
    <style>
        .crop {
        height: 286px;
        width: 286px;
        overflow: hidden;
       }
       .crop img {
        height: auto;
        width: 286px;
       }
    </style>
</head>
<h1 class="my-5 container">About Mutorials</strong></h1>

<div class="container jumbotron mt-5">

    <h3>What is Mutorials?</h3>
    <br>
    <p>Mutorials is a science trainer backed by a passionate team of developers, writers, and contributors. Originally founded by 9 aspiring young dreamers, the team now includes members from all over the world. 
        As an established 501c3 nonprofit, we aim to spread science skills to all communities and demographics. You can reach us at mutorials@mutorials.org</p>
    <br>
    <br>
    <h3 class="mt-3">Meet Our Team!</h3>
    <p>
        
        <div class="container">
            <div class="row">
                <div class="col-4">
                    
                    <div class="card" style="width: 18rem;">
                        <div class="crop">
                            <img class="card-img-top"  src="https://f000.backblazeb2.com/file/mutorials/teams/erik.png" alt="Erik Ma">
                        </div>
                        <div class="card-body">
                          <p class="card-text">Erik Ma. President. 
                            <a href = "mailto: president@mutorials.org">president@mutorials.org</a>
                          </p>
                        </div>
                    </div>
                    
                
                    <!--<img src="https://f000.backblazeb2.com/file/mutorials/teams/erik.png" alt="Erik Ma" >-->
                </div>
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <div class="crop">
                             <img class="card-img-top" style="height: 24rem" src="https://f000.backblazeb2.com/file/mutorials/teams/lucas.png" alt="Lucas Wu">
                        </div>
                        <div class="card-body">
                          <p class="card-text">Lucas Wu. VP of Content Development. 
                            <a href = "mailto: content@mutorials.org">content@mutorials.org</a>
                        </p>
                        </div>
                    </div>
                    <!--<img src="https://f000.backblazeb2.com/file/mutorials/teams/lucas.png" alt="Lucas Wu" >-->
                </div>
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <div class="crop">
                            <img class="card-img-top" style="height: 24rem" src="https://f000.backblazeb2.com/file/mutorials/teams/ethan.png" alt="Ethan Shen">
                        </div>
                        <div class="card-body">
                          <p class="card-text">Ethan Shen. VP of Design. 
                            <a href = "mailto: design@mutorials.org">design@mutorials.org</a>
                          </p>
                        </div>
                    </div>
                    <!--<img src="https://f000.backblazeb2.com/file/mutorials/teams/ethan.png" alt="Ethan Shen" >-->
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    
                    <div class="card" style="width: 18rem;">
                        <div class="crop">
                            <img class="card-img-top"  src="https://f000.backblazeb2.com/file/mutorials/teams/rohan.png" alt="Rohan Pandey">
                        </div>
                        <div class="card-body">
                          <p class="card-text">Rohan Pandey. VP of Marketing. 
                            <a href = "mailto: marketing@mutorials.org">marketing@mutorials.org</a>
                          </p>
                        </div>
                    </div>
                    
                
                    <!--<img src="https://f000.backblazeb2.com/file/mutorials/teams/erik.png" alt="Erik Ma" >-->
                </div>
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <div class="crop">
                             <img class="card-img-top" style="height: 24rem" src="https://f000.backblazeb2.com/file/mutorials/teams/jeffrey.PNG" alt="peepee">
                        </div>
                        <div class="card-body">
                          <p class="card-text">Jeffrey Song. VP of Event Development.
                            <a href = "mailto: event@mutorials.org">event@mutorials.org</a>
                          </p>
                        </div>
                    </div>
                    <!--<img src="https://f000.backblazeb2.com/file/mutorials/teams/lucas.png" alt="Lucas Wu" >-->
                </div>
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <div class="crop">
                            <img class="card-img-top" style="height: 24rem" src="https://f000.backblazeb2.com/file/mutorials/teams/michael.png" alt="Michael Li">
                        </div>
                        <div class="card-body">
                          <p class="card-text">Michael Li. Secretary. 
                            <a href = "mailto: secretary@mutorials.org">secretary@mutorials.org</a>
                          </p>
                        </div>
                    </div>
                    <!--<img src="https://f000.backblazeb2.com/file/mutorials/teams/ethan.png" alt="Ethan Shen" >-->
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    
                    <div class="card" style="width: 18rem;">
                        <div class="crop">
                            <img class="card-img-top"  src="https://f000.backblazeb2.com/file/mutorials/teams/kevin.png" alt="Kevin Zhang">
                        </div>
                        <div class="card-body">
                          <p class="card-text">Kevin Zhang. Treasurer. 
                            <a href = "mailto: treasurer@mutorials.org">treasurer@mutorials.org</a>
                          </p>
                        </div>
                    </div>
                    
                
                    <!--<img src="https://f000.backblazeb2.com/file/mutorials/teams/erik.png" alt="Erik Ma" >-->
                </div>
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <div class="crop">
                             <img class="card-img-top" style="height: 24rem" src="https://f000.backblazeb2.com/file/mutorials/teams/ved.png" alt="Ved Thiru">
                        </div>
                        <div class="card-body">
                          <p class="card-text">Ved Thiru. VP of Software Development. 
                            <a href = "mailto: admin@mutorials.org">admin@mutorials.org</a>
                          </p>
                        </div>
                    </div>
                    <!--<img src="https://f000.backblazeb2.com/file/mutorials/teams/lucas.png" alt="Lucas Wu" >-->
                </div>
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <div class="crop">
                            <img class="card-img-top" style="height: 24rem" src="https://f000.backblazeb2.com/file/mutorials/teams/richard.png" alt="Richard Su">
                        </div>
                        <div class="card-body">
                          <p class="card-text">Richard Su. VP Quality Assurance.
                            <a href = "mailto:  quality@mutorials.org"> quality@mutorials.org</a>
                          </p>
                        </div>
                    </div>
                    <!--<img src="https://f000.backblazeb2.com/file/mutorials/teams/ethan.png" alt="Ethan Shen" >-->
                </div>
            </div>
        </div>
        
    </p>

</div>

<div class="container">
    <a class="mb-5 btn btn-secondary" href="/">Return to Homepage</a>
</div>

<%- include("../partials/footer") -%>