<%# Template for the "who is Mutorial" page %>

<h1 class="my-5 container">About Mutorials</h1>
<div class="container jumbotron mt-5">

    <h3 class="mb-4">What is Mutorials?</h3>
    <p>Mutorials is a science trainer backed by a passionate team of developers, writers, and contributors. Originally founded by 9 high school entrepreneurs, the team now includes members from all over the world. 
        As an official 501(c)(3) nonprofit, Mutorials aims to spread science skills to all communities and demographics.<br>You can reach us at <a href = "mailto: mutorials@mutorials.org">mutorials@mutorials.org</a>.</p>
    
    <h3 class="mt-5">Board of Directors</h3>

    <div class="container">

        <div class="row">

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <div class="crop">
                        <img class="card-img-top"  src="https://f000.backblazeb2.com/file/mutorials/teams/pro erik.png" alt="Erik Ma">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Erik Ma<br>President<br>
                            <a href = "mailto: president@mutorials.org">president@mutorials.org</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <div class="crop">
                        <img class="card-img-top"  src="https://f000.backblazeb2.com/file/mutorials/teams/pro lucas.png" alt="Lucas Wu">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Lucas Wu<br>VP of Content Development<br>
                            <a href = "mailto: content@mutorials.org">content@mutorials.org</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <div class="crop">
                        <img class="card-img-top"  src="https://f000.backblazeb2.com/file/mutorials/teams/pro ethan.png" alt="Ethan Shen">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Ethan Shen<br>VP of Design<br>
                            <a href = "mailto: design@mutorials.org">design@mutorials.org</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <div class="crop">
                        <img class="card-img-top"  src="https://f000.backblazeb2.com/file/mutorials/teams/pro_rohan.png" alt="Rohan Pandey">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Rohan Pandey<br>VP of Marketing<br>
                            <a href = "mailto: marketing@mutorials.org">marketing@mutorials.org</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <div class="crop">
                        <img class="card-img-top"  src="https://f000.backblazeb2.com/file/mutorials/teams/mischievous_michael.png" alt="Michael Li">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Michael Li<br>Secretary<br>
                            <a href = "mailto: secretary@mutorials.org">secretary@mutorials.org</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <div class="crop">
                        <img class="card-img-top"  src="https://f000.backblazeb2.com/file/mutorials/teams/pro_ved.jpg" alt="Ved Thiru">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Ved Thiru<br>VP of Software Development<br>
                            <a href = "mailto: admin@mutorials.org">admin@mutorials.org</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <div class="crop">
                        <!-- https://f000.backblazeb2.com/file/mutorials/teams/kevin.png -->
                        <img class="card-img-top" src="https://f000.backblazeb2.com/file/mutorials/icons/Icon_Main.svg" alt="Kevin Zhang">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Kevin Zhang<br>Treasurer<br>
                            <a href = "mailto: treasurer@mutorials.org">treasurer@mutorials.org</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <div class="crop">
                        <!-- https://f000.backblazeb2.com/file/mutorials/teams/jeffrey.PNG -->
                        <img class="card-img-top"  src="https://f000.backblazeb2.com/file/mutorials/icons/Icon_Main.svg" alt="Jeffrey Song">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Jeffrey Song<br>VP of Event Development<br>
                            <a href = "mailto: event@mutorials.org">event@mutorials.org</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <div class="crop">
                        <!-- https://f000.backblazeb2.com/file/mutorials/teams/richard.png -->
                        <img class="card-img-top"  src="https://f000.backblazeb2.com/file/mutorials/icons/Icon_Main.svg" alt="Richard Su">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Richard Su<br>VP Quality Assurance<br>
                            <a href = "mailto:  quality@mutorials.org">quality@mutorials.org</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <h3 class="mt-5">Gold Contributors</h3>
    <p>These contributors have contributed a significant amount to the development and/or implementation of Mutorials. Our current silver contributors are:
        <br>Allen Wu, Sophia Li
    </p>
    
    <h3 class="mt-5">Silver Contributors</h3>
    <p>These contributors have contributed a considerable amount to Mutorials. Our current silver contributors are:
        <br>Sarah Wu, Hanting Li, Andrew Yu, Clarence Zheng, Gnapika Kothakota, Sean Park
    </p>

    <h3 class="mt-5">How does our team work?</h3>
    <p>The two main branches of development in Mutorials are software development (coding out platform) and content development (writing questions for our bank).
        <br><br>Coding development is lead by the core development team, consisting of Ved Thiru, Michael Li, and Ethan Shen. 
            Ved specializes in backend and security, Michael works on frontend for the most part, and Ethan reviews and perfects the code. 
            No board member has extensive graphics design experience, so custom Mutorials graphics are the work of graphics contributors.
        <br><br>Content development in Mutorials is mostly based on a curriculum drafted by Lucas Wu and supported by the reviewers Jeffrey Song, Richard Su, and Kevin Zhang. 
            Rohan Pandey is responsible for the transferral of problems into the official Mutorials database.
        <br><br>Additional administrative work and official paperwork is handled by Erik Ma.
        <br><br>We would also like to give special recognition to our contributors, who have hugely helped in both our coding and content development processes. 
            Do you want to become a contributor and be a part of the Mutorials Dream? Join our Discord server today at https://discord.com/invite/ccbZu4q !
    </p>

</div>