<%# Modal for confirming deletion of account %>

<div class="modal fade" id="confirm-delete-acc" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Confirm Delete Account
            </div>
            <div class="modal-body">
                Are you sure you want to delete your Account?
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a href="#" id="delete-account-confirm" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>


<script>
    $('#delete-account-confirm').click(function(){
        /* when the submit button in the modal is clicked, submit the form */
        $('#delete-account-form').submit();
    });
</script>
