<%# Template for bar of Mutorials icons on the side %>

<div class="icon-bar d-none d-sm-none d-lg-block" id="social-media-bar">
    <a href="https://instagram.com/mutorials_/" target="_blank" class="instagram" rel="noopener"><i class="fab fa-instagram"></i></a>
    <a href="https://discord.com/invite/ccbZu4q" target="_blank" class="discord" rel="noopener"><i class="fab fa-discord"></i></a>
    <a href="https://www.youtube.com/channel/UCb2kCg0v44GJm2Xc8dzHvsA" target="_blank" class="youtube" rel="noopener"><i class="fab fa-youtube"></i></a>
    <a href="https://github.com/The-Mu-Foundation/Mutorials/" target="_blank" class="github" rel="noopener"><i class="fab fa-github"></i></a>
</div>

