<%# Template for bar of Mutorials icons on the side %>

<div class="icon-bar">
    <a href="https://instagram.com/mutorials_/" class="instagram"><i class="fab fa-instagram"></i></a>
    <a href="https://discord.com/invite/ccbZu4q" class="discord"><i class="fab fa-discord"></i></a>
    <a href="https://github.com/The-Mu-Foundation/Mutorials/" class="github"><i class="fab fa-github"></i></a>
</div>